.main .instructions {
  font-style: italic;
  margin-bottom: 2rem;
}

.main .input {
  width: 100%;
  margin: 2em 0;
}

.main .footer {
  margin: 1em 0;
  display: flex;
  justify-content: flex-end;
}
