.main {
  .button {
    margin: 2rem 0 0 0;
  }

  .buttonWrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  .instructions {
    font-style: italic;
    margin-bottom: 2rem;
  }

  .question {
    margin-bottom: 2em;
  }
}
