$maxContentWidth: 800px;

.trial {
  outline: none;
  display: flex;
  flex-direction: column;
  height: 100vh;

  > .content {
    height: calc(100vh - 130px);
    margin: 40px auto 20px auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: [input-start] auto [input-end control-start] auto [control-end help-start] auto [help-end];

    .input,
    .controls,
    .trialHelp {
      width: 100vw;
      max-width: 800px;
      box-sizing: border-box;
    }

    .input {
      grid-row-start: input-start;
      grid-row-end: input-end;
    }

    .controls {
      width: 100vw;
      max-width: 800px;
      grid-row-start: control-start;
      grid-row-end: control-end;
    }

    .trialHelp {
      grid-row-start: help-start;
      grid-row-end: help-end;

      @media (max-width: $maxContentWidth) {
        padding: 0 1rem;
      }
    }
  }

  // This part used to be only set up for phone and tablets. I left it separated
  // so we could revert that decision later if needed.
  > .content {
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 0;
    grid-template-rows: [input-start] auto [input-end help-start] 1fr [help-end control-start] 1fr [control-end];

    > .trialHelp {
      align-self: center;
      margin-top: 0;
    }

    > .controls {
      align-self: end;
    }
  }

  > .success {
    font-weight: bolder;
    text-align: center;
    color: green;
  }

  > .banner {
    height: 150px;
    min-height: 90px;
    width: 100%;
    overflow: hidden;
  }
}

.blurred {
  filter: blur(5px);
}

.fullScreenRequest {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 20px auto;
  width: 400px;
}
