.main > div {
  margin: 1em 0;
}

.main .measureView {
  margin-right: -2em;
  padding-right: 2em;
  overflow: hidden;
}

.main.horizontal .measureView {
  max-width: calc(100vw - 4em);
}

.main .controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
