.radioBoxGroup {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.radioBoxGroup.verticalGroup {
  flex-direction: column;
}

.radioBoxGroup > li {
  margin-right: 1em;
  display: inline-block;
}

.radioBoxItem {
  display: flex;
  align-items: center;
}

.radioBoxItem > input {
  margin-right: 0.5em;
}
