.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: center;
}

.content {
  width: 800px;
  margin: auto;
  padding: 10px 20px;
}

.code {
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
}
