.stimulus {
  background-color: rgb(43, 43, 43);
  color: white;
  font-size: larger;
  box-sizing: border-box;
  padding: 10px;
}

.content {
  box-sizing: border-box;
  width: 800px;
  margin: auto;
  padding: 10px t20px;
}

.correct {
  color: rgb(147, 248, 147);
}

.incorrect {
  color: rgb(252, 140, 140);
}
