.trialInput {
  display: inline-block;
  width: 100%;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  border: solid 4px #dbf2ff;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px 0px;
  background-color: #dbf2ff;
  color: #004166;
}
.trialInput.focused {
  border-color: #87a6fa;
  background-color: #f2faff;
}
.main {
  outline: none;
  width: 800px;
  margin: auto;
}
.caret {
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: #004166;
  animation-name: blink;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  from {
    background-color: black;
  }
  to {
    background-color: #f2faff;
  }
}
