.trialInput {
  width: 100%;
  height: 100px;
  padding: 20px;
  font-size: larger;
  border: solid 4px #dbf2ff;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px 0px;
  background-color: #dbf2ff;
  color: #004166;
}
.trialInput.focused {
  border-color: #87a6fa;
  background-color: #f2faff;
}

.caretWrapper {
  display: inline-block;
  position: relative;
  width: 0;
  height: 0;
}

.caret {
  position: absolute;
  top: -1.1em;
  height: 1.4em;
  width: 1px;
  background-color: black;
  animation: blink 1s steps(2, start) infinite;
  animation-delay: 500ms;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
