.trialInput {
  width: 100%;
  height: 100px;
  padding: 20px;
  font-size: larger;
  border: solid 4px #dbf2ff;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px 0px;
  background-color: #dbf2ff;
  color: #004166;
}
.trialInput.focused {
  border-color: #87a6fa;
  background-color: #f2faff;
}

.caret {
  display: inline-block;
  width: 2px;
  height: 1.2em;
  margin-top: -1.2mem;
  margin-bottom: -0.2em;
  margin-right: 2px;
  background-color: black;
  animation: blink 1s steps(2, start) infinite;
  animation-delay: 500ms;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
