.main {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.main .button {
  margin: 10px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.formInput {
  margin-bottom: auto;
}
