.navigationButtons {
  width: 70px;
  height: 50px;
  background-color: #6599ff;
  margin: 10px;
  font-size: 14px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.usable {
  opacity: 1;
}

.unusable {
  opacity: 0.65;
}

.main {
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  height: 700px;
  max-height: 80%;
}

.buttonWrapper {
  position: relative;
  left: 75%;
}

.sentencesWrapper {
  margin: 10px;
  font-size: 15px;
  height: 90%;
  overflow: auto;
}
