.main {
  margin: auto;
  width: 850px;
  height: 800px;
}

.form {
  padding-left: 20px;
}

.submitButton {
  width: 150px;
  height: 50px;
  background-color: #2196f3;
  margin: 10px;
  font-size: 14px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.submitButtonWrapper {
  position: relative;
  left: 75%;
}
