.keyboardSelectorButton {
  font-size: 14px;
  background-color: white;
  height: 50px;
  width: 120px;
  max-width: 30%;
  border: 3px solid #ebebeb;
  border-radius: 10px;
  margin-right: 10px;
}

.keyboardSelectorButton:hover {
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}

.keyboardSelectorDiv {
  text-align: center;
  margin-top: 100px;
  width: 100%;
}
