.main {
  margin: auto;
  width: 800px;
  height: 800px;
}

.submitButtonWrapper {
  display: flex;
  justify-content: flex-end;
}

.instructions {
  font-style: italic;
  color: gray;
}

.form {
  margin: 2rem 0;
}
