.trialInput {
  width: 100%;
  height: 100px;
  padding: 20px;
  font-size: larger;
  border: solid 4px #dbf2ff;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px 0px;
  background-color: #dbf2ff;
  color: #002438;
}
.trialInput.focused {
  border-color: #87a6fa;
  background-color: #f2faff;
}
.trialInput.error {
  border-color: #f06f6f;
  background-color: #ffdede;
  color: #240000;
}

.caretWrapper {
  display: inline-block;
  position: relative;
  width: 0;
  height: 0;
}

.caret {
  position: absolute;
  top: -1.1em;
  height: 1.4em;
  margin-left: -1px;
  width: 2px;
  background-color: #002438;
}

.trialInput.error .caret {
  background-color: #240000;
}

.caret.blinking {
  animation: blink 1s steps(2, start) infinite;
  animation-delay: 500ms;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.suggestion {
  visibility: hidden;
  color: #6d86cc;
}

.trialInput.focused .suggestion {
  visibility: visible;
}

.trialInput.error .suggestion {
  color: #f06f6f;
}
