.trial {
  outline: none;
  width: 100%;

  .content {
    width: 100%;
    max-width: 800px;
    margin: 40px auto 20px auto;
  }

  .success {
    font-weight: bolder;
    text-align: center;
    color: green;
  }

  .banner {
    height: 150px;
    width: 100%;
    overflow: hidden;
  }

  .trialHelp {
    margin-top: 4rem;
  }
}
