.arrow {
  position: absolute;
}

.start {
  height: 100%;
}

.input {
  height: 100%;
}

.step {
  width: 790px;
  margin: 40px auto 20px auto;
  border: 1px solid #d4d4d4;
  padding-left: 10px;
  background-color: #d4d4d4;
  font-weight: bold;
}
