input {
  width: 100%;
  max-width: 850px;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
}

.simple-keyboard {
  max-width: 850px;
  /*display: none;*/
}

h4 {
  position: static;
  padding-left: 5px;
}

#winner-label {
  color: green;
  top: 10px;
  right: 10px;
  padding: 10px;
  position: absolute;
}

#text-to-type {
  width: 100%;
  max-width: 850px;
  padding: 20px;
  padding-top: 0px;
  border-bottom: 1px solid #c5c5c5;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.text {
  color: black;
}

.advance-workflow-div {
  max-width: 850px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}

.advance-workflow-button {
  margin-left: 40%;
  font-weight: bold;
  color: white;
  height: 40px;
  border-radius: 8px;
  background-color: #0074cd;
  width: 100px;
}

.advance-workflow-button:hover {
  background-color: #008af3;
}
