.advanceWorkflowDiv {
  max-width: 850px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}

.advanceWorkflowButton {
  margin-left: 40%;
  font-size: 14px;
  font-weight: bold;
  color: white;
  height: 40px;
  border-radius: 8px;
  background-color: #0074cd;
  width: 100px;
  border: none;
}

.advanceWorkflowButton:hover {
  background-color: #008af0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}
